<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property resource="config/api.properties"/>
  <property name="LOG_DIR" value="${logback.log.dir}"/>
  <property name="LOG_FILE" value="${logback.log.filename}"/>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="file">
    <file>${LOG_DIR}/${LOG_FILE}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 50MB -->
        <maxFileSize>50MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <charset>UTF-8</charset>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%date{YYYY-MM-dd HH:mm:ss} [%thread] %-5level %logger{10} [%file:%line] - %msg%n
        </pattern>
      </layout>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="console">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <charset>UTF-8</charset>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%file:%line] - %msg%n</pattern>
      </layout>
    </encoder>
  </appender>

  <!--<appender name="stats" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
  <!--<file>${LOG_DIR}/stats.active.${LOG_FILE}.log</file>-->
  <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
  <!--&lt;!&ndash; daily rollover &ndash;&gt;-->
  <!--<fileNamePattern>${LOG_DIR}/stats.${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
  <!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
  <!--&lt;!&ndash; or whenever the file size reaches 50MB &ndash;&gt;-->
  <!--<maxFileSize>50MB</maxFileSize>-->
  <!--</timeBasedFileNamingAndTriggeringPolicy>-->
  <!--</rollingPolicy>-->
  <!--<encoder>-->
  <!--<charset>UTF-8</charset>-->
  <!--<pattern>%date{YYYY-MM-dd HH:mm:ss} [%thread] %-5level %logger{10} [%file:%line] - %msg%n</pattern>-->
  <!--</encoder>-->
  <!--</appender>-->

  <!--<logger name="stats" level="info" additivity="false">-->
  <!--<appender-ref ref="stats"/>-->
  <!--</logger>-->

  <root level="info">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </root>

  <logger level="info" name="org.springframework"/>
  <logger level="info" name="org.springframework.beans"/>

</configuration>
